<h1>New Out-patient Registration</h1>
<%= form_with url: out_patients_url, method: "post" do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name  %>
  <br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br>
  <%= f.label :phone_no, "Phone number" %>
  <%= f.telephone_field :phone_no, pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}" %>
  <br>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <br>
  <%= label_tag 'gender' %>
  <%= select_tag 'gender', raw("<option value=\"M\">Male</option><option value=\"F\">Female</option>") %>
  <br>
  <%= f.label :dob, "Date of Birth" %>
  <%= f.date_field :dob %>
  <br>
  <%= f.submit "Register" %>
<% end %>



